* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

/* Styling for body */
body {
  background: rgb(51, 51, 51);
  background: linear-gradient(
    51deg,
    rgba(51, 51, 51, 1) 10%,
    rgba(52, 64, 39, 1) 50%,
    rgba(55, 62, 48, 1) 58%
  );
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

  color: orange;
}

/* Header styling */
.gameHeader {
  display: flex;
  height: 7vh;
  justify-content: center;
  align-items: center;
  background-color: darkolivegreen;
  margin-bottom: 0.5em;
  filter: drop-shadow(2px 2px 2px black);
  text-shadow: 2px 2px 2px black;
}

#gameTitle {
  font-size: 3em;
}

/* Game container stying */
#gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

#playerScore {
  width: 10em;
  text-align: center;
  padding: 0.25em;
  border-radius: 6px;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px black;
  background-color: rgb(39, 38, 38, 1);
  margin-bottom: 0.25em;
}

/* styling for user input div. contains all button styling on main page */
.userInputs {
  display: flex;
  flex-direction: row;
  min-width: 600px;
  max-width: 600px;
  width: 50vw;
  justify-content: space-around;
  border-radius: 6px;
  background-color: rgb(39, 38, 38, 1);
}

.directional-button {
  background-color: darkolivegreen;
  height: 2em;
  border-radius: 6px;
  font-size: 1.25em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: orange;
  text-shadow: 1px 1px 1px black;
}

.gameplay-button {
  background-color: darkolivegreen;
  height: 1.4em;
  width: 8em;
  border-radius: 6px;
  font-size: 1.25em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: orange;
  text-shadow: 1px 1px 1px black;
}

.northSouth {
  display: flex;
  flex-direction: column;
}

.northSouth > button {
  margin: 0.25em 0px;
}

.west-east {
  width: 6em;
}

.interactiveButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* styling for info div and lat/lon/county/town */
.info {
  display: flex;
  justify-content: space-between;
  padding: 0.25em;
  min-width: 600px;
  max-width: 600px;
  width: 50vw;
  border-radius: 5px;
  background-color: rgb(39, 38, 38, 1);
}

.info-text {
  font-size: 1.5em;
  color: orange;
}

/* styling for guess modal and contents */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.insideModal {
  width: 50vw;

  background-color: rgb(39, 38, 38, 1);
  border-radius: 6px;
  padding: 2em;
}

/* styling for county list inside modal */
#county-container {
  display: flex;
  flex-direction: column;
  text-shadow: 1px 1px 1px black;
}

#list-container {
  display: flex;
  justify-content: space-around;
  height: 15em;
}

.county-title {
  text-align: center;
  text-decoration: underline;
  font-size: 2em;
}

li {
  font-size: 1.5em;
}

/* sytling for submit button and user input */
.userGuessField {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3em;
}

#submit-guess {
  background-color: darkolivegreen;
  height: 2em;
  width: 8em;
  border-radius: 6px;
  margin-left: 1em;
  font-size: 1.25em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: orange;
  text-shadow: 1px 1px 1px black;
}

.user-input {
  font-size: 1.87em;
  width: 12em;
  border-radius: 6px;
  background-color: lightgrey;
}

/* styling for footer and close modal button */
.modalFooter {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 1em;
}

#closeButton {
  background-color: darkolivegreen;
  height: 2em;
  width: 8em;
  border-radius: 6px;
  font-size: 1.25em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: orange;
  text-shadow: 1px 1px 1px black;
}

.leaflet-container {
  z-index: -1;
}
